html {
  margin: 0px;
  font-family: "DotGothic16", sans-serif;
}
#header {
  display: flex;
  justify-content: space-between;
  height: 3em;
  border-radius: 1em;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.155);
}
#nav_icon {
  width: 2em;
  padding-left: 0.3em;
}
#header_name {
  margin: 0px;
  text-align: center;
  margin-top: 0.01em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
}
#search_favorite {
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
  height: 2em;
  margin-top: 0.6em;
  gap: 1em;
}
#search_input {
  width: 20em;
  height: 2em;
  border-radius: 0.4em;
  border: none;
  font-size: medium;
}
#search_icon {
  height: 1.7em;
}
#home_section {
  margin: 0px;
  margin-left: -0.48em;
  width: 95.4em;
  height: 26em;
  background-image: url(pictures/anime_food1.jpg);
  background-size: cover;
}
.home_text {
  display: inline-block;
  margin-top: 3em;
  margin-left: 15em;
  border: solid black 1px;
  background-color: rgba(0, 0, 0, 0.155);
  color: whitesmoke;
  font-size: 35px;
  padding: 2em 3em;
}
.home_recipes {
  display: grid;
  grid-template-columns: repeat(4 150px);
}
